/* :root{
    --background-color: #E5D9B6;
    --section-color: #A4BE7B;
    --head-line:#5F8D4E;
    --paragraph-color:#285430;
} */

body{
    background-color: #905E96;
}

header{
    display: flex;
    justify-content: space-evenly;
    
}

#logo img{
    width: 100px;
    height: 80px;
}

nav ul{
    list-style-type: none;
    
    display: flex;
    gap: 10px;
}
nav ul, a{
    text-decoration: none;
}
main {
    background-image: url('/img/istockphoto-1337260312-170667a.jpg');
    height: 800px;
}
main h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 50px;
    
}