*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header layout*/
header{
    width: 100%;
    height: 120px;
    border: 2px orange solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DBA39A;
}
/*  */
#logo{
    width: 30%;
    text-align: center;
    font-size: 50px;
    color: #E14D2A;
}
/*  */
#title{
    width: 40%;
    text-align: center;
    color: white;
    font-size: 40px;
}
/*nav bar layout and Decorations*/
nav{
    width: 30%;
    text-align: center; 
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}
/*main layout*/
main{
    width: 100%;
    display: flex;
}
/* left secton layout */
#left{
    width: 30%;
    border: 2px orange solid;
    border-top: none;
    background-color: #F0DBDB;
}
/* left secton inner elements layout */
/*h2*/
#left h2{
   width: 100%;
   margin-top: 48%;
   text-align: center;
   font-size: 30px;
   color:#E14D2A;
}
/*button secation*/
#button{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#button a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
/*button*/
#button button{
    width: 100%;
    height: 60%;
    font-size: 25px;
    color: white;
    background-color: #E14D2A;
    border-radius: 10px;
    cursor: pointer;
}
/* right secton layout */
#right{
    width: 70%;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    background-color: #F5EBE0;
}
#right h3{
    width: 100%;
    height: 20%;
    border-bottom: solid orange 2px;
    font-size: 60px;
    color: rgb(194, 187, 187);
    text-align: center;
    padding-top:30px ;
}
/* cards Container layout*/
.cardsContainer{
width: 100%;
height: 80%;
display: flex;
justify-content: space-evenly;
align-items: center;

}
/*a tag layout*/
.cardsContainer a{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 32%;
    height: 90%;
}
/*images layput*/
.cardsContainer img{
width: 100%;
height: 100%;
border: 2px solid orange;
border-radius: 5px;
}

footer{
    background-color: #DBA39A;
    height: 100px;
}
