*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header layout*/
header{
    width: 100%;
    height: 15vh;
    border: 2px orange solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DBA39A;
}
/*  */
#logo{
    width: 30%;
    text-align: center;
    font-size: 50px;
    color: #E14D2A;
}
/*  */
#title{
    width: 40%;
    text-align: center;
    color: white;
    font-size: 40px;
}
/*nav bar layout and Decorations*/
nav{
    width: 30%;
    text-align: center; 
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}
/*main layout*/
main{
    background-color: #F5EBE0;
    width: 100%;
    height: 85vh;
    display: flex;
}

footer{
    background-color: #DBA39A;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: 25px;
    color: white;
}
